
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background: url('img/sincerely-media--gG86PdIzUA-unsplash.jpg') no-repeat top center;
  background-size: cover;
  height: 100vh;
}

.wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}

.contact-form {
  /* max-width: 1200px; */
  width: 60%;
  margin: 0 auto;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 30px;
  display: flex;
  height: 50vh;
  /* flex-direction: column; */
  box-shadow: 0 0 10px ;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg {
  width: 48%;
}

.input-fields input {
  margin: 100px;
}


.input-fields .input ,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #c5ecfd;
  padding: 20px;
  color: #c5ecfd;
  width: 100%;
}

.msg textarea {
  height: 210px;
  /* margin-top:400px; */
}

::-webkit-input-placeholder {
  color: #c5ecfd ;
}

::-moz-input-placeholder {
  color: #c5ecfd ;
}

::-ms-input-placeholder {
  color: #c5ecfd ;
}

.btn {
  background: #39b7dd;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}


@media screen and (min-width: 600px) {
  .contact-form {
    /* height: 60vh; */
  }
}

@media screen and (max-width: 600px) {
  .contact-form{
    flex-direction: column;
  }
  .msg textarea {
    height: 80px;
  }
  .input-fields .input ,
  .msg textarea {
    padding: 10px;
  }
}