.footer3 {
 display: none;

  @media screen and (max-width:767px) {
    display: block;
   }

  .footer3__container {

    @media screen and (max-width:767px) {
     display: flex;
     justify-content:space-between;
     align-items: center;
     width: 53%;
     height: 38px;
     margin: auto;
    }

    .footer3__right {

      @media screen and (max-width:767px) {
        // display: inline-flex;
        // width: 107px;
        // height: 38px;
        padding-right: 12px;
      }
  
      .footer3__img--1 {

        @media screen and (max-width:767px) {
          width: 22vw;
          height: 6vw;
        }
      }
    }

    .fotter3__left {

      @media screen and (max-width:767px) {
        display: inline-flex;
        height: 38px;
        width: 280px;
      }

      .footer3__text--1 {
        
        @media screen and (max-width:767px) {
          font-size: 1.6vw;
          margin: 0;
          font-family: 'yugothil';
        
        }
      }

      .footer3__text--2 {

        @media screen and (max-width:767px) {
          // font-size: 1.3vw;
          // margin-top: 10px;
            width: 49vw;
            font-size: 1vw;
            margin-top: 1vw;
            margin-left: 0vw;
            font-family: 'yugothil';
          // width: 36vw;
          // font-size: 1.3vw;
          // margin-top: 10px;
          // margin-left: 5vw;
        }
      }
    }
  }

  .footer3__bellow {

    @media screen and (max-width:767px) {
      margin-top: 29px;
      background: #CD282D;
      height: 31px;
      text-align: center;
      display: block;
    }
  
    .footer3__text {

      @media screen and (max-width:767px) {
        padding-top: 11px;
        font-size: 1.4666vw;
        color: #fff;
        font-family: 'yugothil';
      }
    }
  }
}
