.footer2 {
  display: none;

  @media screen and (max-width:767px) {
    display: block;
    // width: 100%;
    // height: 100%;
    background: #FCF7FA;
  }
  .footer2__list {
    @media screen and (max-width:767px) {
      font-size: 35px;
        height: 100%;
        width: 100%;
        padding: 0;
        font-family: 'yugothib';
    }
    .footer2__item {
      @media screen and (max-width:767px) {
        list-style: none;
        font-size: 35px;
        color: #DC140A;
        border-top: solid  #DC140A 1px;
        display: block; 
        // margin-bottom: 35px;
      }
      &:not(:last-child) {
        border-bottom: solid  #DC140A 1px;
        margin-bottom: 0;
        }
      &:last-of-type {
        padding-bottom: 12px;
      }
       
      .footer2__text {
        @media screen and (max-width:767px) {
          // font-size: 35px;
          font-size: 4vw;
          color: #DC140A;
          padding-left: 6vw;   
        }
      }
    }
  }
}