.footer {
    border-top: #CD282D solid 2px;
    position: relative;
    min-width: 1080px;
    @media screen and (max-width:767px) {
      display: none;
    }

    &__tag {
      background: #CD282D;
      padding-bottom: 48px;
      font-size: 12px;
      color: #fff;
      text-align: center; 
      margin-top: 88px;
      padding: 16px;
   }

      .footer__logo{
        width: 1050px;
        margin: 0 auto;
        padding-top: 50px;

        .footer--left {
          width: 35%;
          height: 100px;
          margin: 0px;
          display: inline-block;
          margin-right: 0;
        .footer__navigation--1 {
           font-size: 12px;
           font-family: 'yugothil';

          }
        .footer__navigation--2 {
           font-size: 12px;
           font-family: 'yugothil';

          }
        }

        .footer--right {
          width: 59%;
          height: 155px;
          margin: 0px;
          display: inline-block;
          border-collapse: separate;
          border-spacing: 0px 8px;
            .fotter__table { 
                // border-collapse: separate;
                // border-spacing: 0px 8px;
                border-collapse:collapse;
                margin-left: 50px;

              .fotter__list {
                border-bottom: #CD282D solid 2px;
                // max-width: 200px;
                .footer__tag {
                  &--1a {
                    font-size: 12px;
                    display: inline-block;
                    color: #CD282D;
                    font-family: 'yugothil';
                  }
                  &--2a {
                    font-size: 12px;
                    display: inline-block;
                    padding-right: 35px;
                    color: #CD282D;
                    font-family: 'yugothil';
                    // margin: 0px;
                    // padding: 0px;
                  }
                  &--3a {
                    display: inline-block;
                    font-size: 12px;
                    padding-right: 83px;
                    color: #CD282D;
                    font-family: 'yugothil';
                  }
                  &--4a {
                      font-size:12px;
                      display: inline-block;
                      padding-right: 18px;
                      color: #CD282D;
                      font-family: 'yugothil';
                  }
                  &--5a {
                      font-size: 12px;
                      display: inline-block;  
                      padding-right:87px;
                      color: #CD282D;
                      font-family: 'yugothil';
                  }    
              }
            }
                .fotter__list2 {
                // padding-right: 120px;
                  .footer__tag {
                    &--1 {
                        font-size:12px;
                        padding-top: 10px;
                        display: inline-block;
                        padding-left: 30px;
                        color: #CD282D;
                        width: 122px;
                        font-family: 'yugothil';
                    }

                    &--2 {
                        font-size:12px;
                        display: inline-block;
                        padding-top: 10px;
                        padding-left: 11px;
                        color: #CD282D;
                        width: 150px;
                        font-family: 'yugothil';
                    }

                    &--3 {
                        font-size:12px;
                        padding-top: 10px;
                        display: inline-block;
                        padding-left: 0;
                        color: #CD282D;
                        //when object of layout is over, you need to adjust a width 
                        width: 100px;
                        font-family: 'yugothil';
                        // height: 50px;
                    }

                    &--4 {
                        font-size:12px;
                        padding-top: 10px;
                        display: inline-block;
                        padding-left: 0;
                        color: #CD282D;
                        width: 135px;
                        font-family: 'yugothil';
            }
          }
        }
      }
    }
  }
}