ul.nav__list {
    display: flex;
    list-style: none;
    margin-right: -34px;
    align-items: center;
    @media screen and (max-width:767px) {
        display: none;
    }
    img{
    width: 21px;
    height: 23px;
    }
}
    li.nav__item    {    
        width: 119px;
        font-size: 10px;
        text-align: center;

    &:not(:last-child) {
    border-right: 1px solid #000;
    }

    &:last-child {  
     text-align: right;
     width: 90px;
    }
    a {
        font-family: 'YaHei';
        color:#4D4D4D;
        width: 43px;
        height: 12px;
        text-decoration: none

    }
}