@font-face {
    font-family: 'ExLight';
    src: url('/src/fonts/A-OTF-ShinGoPr6-ExLight.otf');
  }
  
  @font-face {
    font-family: 'Light';
    src: url('/src/fonts/A-OTF-ShinGoPr6-Light.otf');
  } 
  
  @font-face {
    font-family: 'YaHei';
    src: url('/src/fonts/Microsoft-YaHei-Bold-Font.ttf');
  } 
  @font-face {
    font-family: 'taile';
    src: url('/src/fonts/taile.ttf');
  } 
  
  @font-face {
    font-family: 'yugothib';
    src: url('/src/fonts/yugothib.ttf');
  
  } 
  
  @font-face {
    font-family: 'yugothil';
    src: url('/src/fonts/yugothil.ttf');
  } 
  
  @font-face {
    font-family:'yumin';
    src:url('/src/fonts/yumin.ttf');
  }
  