* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff;
}

.intro {
  height: 100vh;
  position: relative;
}

.slideshow-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 100%;
  object-fit: cover;
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow-img:first-child {
  display: block;
}















