body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.5s;

}

img {
  width: 20rem;
  height: 400px;
}

/* .card .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 400px;
  background: #000;
 backface-visibility: hidden;
 transform: rotateX(0deg);
 transition: 0.5s;

} */

/* .card:hover .front {
  transform: rotateX(-180deg);
} */

/* .card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  height: 400px;
  background: #000;
 backface-visibility: hidden;
 transform: rotateX(180deg);
 transition: 0.5s;
} */

/* .card:hover .back {
  transform: rotateX(0deg);
}
 */



/* .details-list{
  display: flex;
  width: 100%;
  height: 100%; 
  justify-content: center;
  align-items: center;
  list-style: none;
}

.detail-item {
  margin-right: 2rem;
} */

/* .card .back .details {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
} */

/* .card .back .details h2{
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #fff;
  text-align: center;
} */
